[package]
name = "contract"
version = "0.1.0"
edition = "2018"

[dependencies]
casper-contract = {version = "1.4.3", features = ["test-support"]}
casper-types = "1.4.5"
serde = { version = "1", features = ["derive", "alloc"], default-features = false }
#serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde-json-wasm = { path = "/home/karandh/casper/serde-json-wasm" }
#serde-json-core = { version = "0.4.0" }
base16 = { version = "0.2", default-features = false, features = ["alloc"] }

[[bin]]
name = "contract"
path = "src/main.rs"
bench = false
doctest = false
test = false

[profile.release]
codegen-units = 1
lto = true

