name: ci-casper-cep78-js-client

on:
  push:
    branches:
      - "dev"
      - "feat-*"
      - "release-*"

  pull_request:
    branches:
      - "dev"
      - "feat-*"
      - "release-*"

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2

      - uses: Swatinem/rust-cache@cb2cf0cc7c5198d3364b9630e2c3d457f160790c #v1.4.0

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y build-essential wabt

      - name: Setup
        run: make prepare

      - name: Prepare WASMs 
        run: make setup-test

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@5b949b50c3461bbcd5a540b150c368278160234a #v3.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Copy WASMs
        working-directory: ./client-js
        run: ./copy-wasms.sh

      - name: Install
        working-directory: ./client-js
        run: npm install

      - name: Audits
        working-directory: ./client-js
        run: npm audit

      - name: Lints
        working-directory: ./client-js
        run: npm run lint

      - name: Test
        working-directory: ./client-js
        run: npm test
