# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: publish-casper-cep78-js-client

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-22.04
    defaults: 
      run: 
        working-directory: ./client-js
    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [18.x]

    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@5b949b50c3461bbcd5a540b150c368278160234a #v3.4.0
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://registry.npmjs.org'
    - run: npm install
    - name: Publish to NPM
      run: npm publish --access public
      env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
